@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #110411;
  }
}

@layer utilities {
  .text-shadow-green-neon {
    text-shadow: 0 0  3px rgb(87, 254, 32);
  }
  .text-shadow-razzmatazz-neon {
    text-shadow: 0 0  3px rgb(243, 23, 112);
  }
  .text-shadow-cocktail-fuchsia-neon {
    text-shadow: 0 0  3px rgb(247, 31, 249);
  }
}
